data/
practice/
Rplots.pdf
.DS_store

# Redundant code
code/get_ghcnd_all.bash

code/ghcnd_inventory.bash

code/ghcnd_stations.bash

#Snakemake
.snakemake

#Practice code
code/practice.R
write_dir.tar.gz/
write_files.tat.gz/
practice_pipe.gz
practice.output.gz
practice.tar.gz
ghcnd_all/
